@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(61, 60, 60);
  color: white;
  font-family: sans-serif;
}

.logo {
  font-family: "Great Vibes";
}

.constant {
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  height: 10%;
  padding: 0 8%;
  justify-content: space-between;
  background-color: rgb(49, 48, 48);
  font-size: 1.3rem;
  box-shadow: 5px 5px 10px rgb(87, 84, 84);
  z-index: 999;
}

 .nav1 {
  display: flex;
  gap: 2rem;
}

footer {
  justify-content: space-between;
  background-color: rgb(49, 48, 48);
  padding:2% 8%;
  font-size: 1.3rem;

}

.links {
  display: flex;
  gap: 2rem;
}

.links a{
text-decoration: none;
color: white;
}

.align1 {
  margin: auto 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  align-items: center;
  justify-content: center;
  margin: 10% 0 0 0;
}

.align {
  display: flex;
  width: 85%;
  gap: 3rem;
  margin-bottom: 3%;  
}

.align1 p {
  font-size: 1.3rem;
  padding-top: 2%;
  color: rgb(228, 224, 224);
  text-align: justify;
}

.links a:hover {
  color: #eea837;
}

.no-display1 {
  display: none;
}

@media (max-width: 1040px) {
  
  nav {
    padding: 0 4%;
    font-size: 1rem;
    height: 12%;
  }
  
   .nav1 {
    gap: 1rem;
  }
  
  footer {
    padding: 3% 4%;
    font-size: 1rem;
  }
  
  .links {
    gap: 1rem;
  }
  
  
  .container {
    padding: 0;
    margin: 22% 0 0 0;
    width: 100%;
  }
  
  .align {
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-bottom: 0;
    padding: 0 4%;  
  }
  
  .align1 p {
    font-size: 1.3rem;
    padding-top: 2%;
  }

  .align figure {
    margin: 0 auto;
  }

   .realign {
    flex-direction: column-reverse;
  }

  .alignfirst {
    gap: 3rem;
    padding: 0 4% 6% 4%;
  }
  
}

@media (max-width: 430px) {

  .no-display {
    display: none;
  }

  .adjust {
    margin-left: -6.5rem;
  }
  
  .no-display1 {
    display: flex;
  }
  nav {
    padding: 0 6%;
    height: 10%;
    font-size: 0.8rem;
  }
  
  
  footer {
    flex-direction: column;
    padding: 6% 4%;
    gap: 1rem;
  }
  
  .links {
    flex-direction: column;
    text-align: center;
  }
  
  
  .container {
    padding: 0;
    margin: 35% 0 0 0;
  }
  
  .align {
    padding: 0 6%;  
  }
  
  .align1 p {
    font-size: 1.2rem;
    padding-top: 3%;
  }


  

  .alignfirst {
    gap: 3rem;
    padding: 0 4% 8% 4%;
  }
  
}

@media (max-width: 415px) {
  .adjust {
    margin-left: -8.5rem;
  }
}

@media (max-width: 375px) {
  .adjust {
    margin-left: -13rem;
  }
}